// Main body element
html {height: 100%; min-height: 100%;}
body {
  height: 100%;
  margin: 0;
	padding: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color: $font-color;
  background-color: $white;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  min-width: 600px;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;

  // Header - located at the top of the aplication
  .header {
    flex: 0 0 80px;
    background-color: $white;
    text-align: center;
    padding: 15px 0 15px 0;
    transition: flex .3s;

    .logo {
      font-size: 40px;
      font-weight: bold;
      transition: font-size .3s;

      img {
        height: 60px;
        transition: height .3s;
      }
    }
    .tagline {
      margin: 0 auto;
      text-align: center;
      font-size: 14px;
      opacity: 0;
      transition: font-size .3s, opacity .3s;
    }

    // Animate larger
    &.large {
      flex: 0 0 150px;
      .logo {
        font-size: 80px;
        img {height: 100px;}
      }
      .tagline {font-size: 18px; opacity: 1;}
    }
  }

  .container {
    flex: 1 1 auto;
    min-height: 0; /* weird browser fix */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    // Sidebar is the primarly left hand bar
    .sidebar {
      flex: 0 1 $sidebar-width;
      overflow-x: hidden;
      overflow-y: auto;
      border-right: solid 1px $border-color;
      padding: 0 0 0 10px;

      .links {
        a {
          display: list-item;
          text-decoration: none;
          list-style: none;
          color: $font-color;
          font-size: 16px;
          font-weight: normal;
          transition: transform .3s;
          margin: 0 0 8px 0;

          &.active, &:hover {
            color: $primary;
            font-weight: bold;
          }

          &:hover {
            transform: translateX(10px);
          }
        }
      }
    }

    // Main is the large main section
    .main {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: calc(100% - #{$sidebar-width});
      min-height: 0; /* weird browser fix */
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 20px 20px 20px;
    }
  }
}
