$content-height: auto;
$content-width: 300px;

html {
  height: 100%;
}

body {
  font-family: helvetica;
}

h1 {
  margin: 0 0 20px 0;
}

#app {
  .content {
    text-align: center;
    background-color: white;
    height: $content-height;
    width: $content-width;
    padding: 20px;
    margin: 20px auto 0 auto;
    border: solid 1px #cccccc;
  }
}
